root = true

# Applies to all.
[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Python specific rules.
[*.py]
indent_size = 4

# Configuration files.
[{package.json,.travis.yml,webpack.config.js}]
indent_size = 2

# Markdown files.
[*.md]
trim_trailing_whitespace = false
